################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Debug
/generated
/Release
/.vs/bm_search_nocase_vc2015/v14/.suo
/bm_search_nocase_vc2008.ncb
*.suo
